<%- include('partials/header') -%>

<body>
    <div class="border-2 border-light-green rounded-md bg-light-green w-80 mx-auto h-96">
        <header>
            <div class="">
                <div class="">
                    <h1 class="text-3xl font-header text-dark-green mt-6"><a href="/profile">haven</a></h1>
                </div>
                <img src="" alt="">
                <span class="text-white font-body mb-11">Mental Wellness Tools</span>
            </div>
        </header>

        <main>
            <div class="flex justify-center items-end h-56">
                <a href="/login" class="font-header btn bg-white text-dark-green hover:text-white hover:bg-dark-green w-20 mr-7 inline-flex items-center justify-center" role="button"> Login</a>
                <a href="/signup" class="font-header btn bg-white text-dark-green hover:text-white hover:bg-dark-green w-20 ml-7 inline-flex items-center justify-center" role="button"> Signup</a>
            </div>
        </main>
    </div>
    

<%- include('partials/footer') -%>