<%- include('partials/header') -%>

<main>
    <div class="border-3 border-red-400">
        <a href="/login" class="font-header" role="button"> Login</a>
        <a href="/signup" class="font-header" role="button"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>