<%- include('partials/header') -%>

<main class="container border border-success-suble rounded-3">
    <div class="row justify-content-center my-5">
        <a href="/login" class="col-2 btn btn-success p-2 mx-3" role="button"> Login</a>
        <a href="/signup" class="col-2 btn btn-success p-2 mx-3" role="button"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>