<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-evenly mt-5">
        <a href="/login" class="col-3 btn btn-success p-2" role="button"> Login</a>
        <a href="/signup" class="col-3 btn btn-success p-2" role="button"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>